@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    background: radial-gradient(
      circle,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-size: 400%;
    animation: gradient 10s linear infinite;
  }

  /* li {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    transition: all 1s;
  } */
}

@layer utilities {
  .rainbow-text {
    background: radial-gradient(
      circle,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradient 5s linear infinite;
  }

  .clamp-text {
    font-size: clamp(2.75rem, 6vw, 10rem);
    line-height: 1;
  }

  .text-glow {
    color: #fff;
    text-shadow: 0 0 8px #fff;
  }

  .text-drop-shadow {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.2))
      drop-shadow(0 4px 3px rgb(0 0 0 / 0.4));
  }

  .gradient-border {
    background: linear-gradient(#1f1f1f, #1f1f1f) padding-box,
      radial-gradient(
          circle,
          rgba(131, 58, 180, 1) 0%,
          rgba(253, 29, 29, 1) 50%,
          rgba(252, 176, 69, 1) 100%
        )
        border-box;
  }

  .bg-gradient-star {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  }

  /* .no-show {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    transition: all 1s;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  } */

  .box-shadow {
    box-shadow: 4px 4px 8px black;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
