@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    color: white;
    background: radial-gradient(
      circle,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-size: 400%;
    animation: gradient 10s linear infinite;
  }
}

@layer utilities {
  .rainbow-text:hover {
    background: radial-gradient(
      circle,
      rgba(131, 58, 180, 1) 0%,
      rgba(253, 29, 29, 1) 50%,
      rgba(252, 176, 69, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    animation: gradient 5s linear infinite;
  }

  .clamp-text {
    font-size: clamp(2.75rem, 6vw, 10rem);
    line-height: 1;
  }

  .text-glow {
    color: #fff;
    text-shadow: 0 0 8px #fff;
  }

  .text-drop-shadow {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.1))
      drop-shadow(0 4px 3px rgb(0 0 0 / 0.2));
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
